<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page</title>

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../css/page.css" rel="stylesheet" type="text/css" />
<link href="../css/search.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- HEADER -->
		<div class="row">
			<div class="page-header text-center">
				<h1>
					<a style="color: black;" th:href="@{volumes}">Crestomazia
						Retoromontscha <small>Caspar Decurtins</small>
					</a>
				</h1>
			</div>
		</div>
		<!-- / HEADER -->

		<!-- BREADCRUMB -->
		<div class="row">
			<div class="lead">
				<a th:href="@{/}">Start</a> <span> > </span><a th:href="@{volumes}">RC
					Bände</a> <span> > </span><a
					th:href="@{chapters(volumeId=${volumeId}, volumeTitle=${volumeTitle})}"
					th:text="${volumeTitle}"></a> <span> > </span> <a
					th:href="@{pages(chapterId=${chapterId}, chapterTitle=${chapterTitle}, volumeId=${volumeId}, volumeTitle=${volumeTitle})}"
					th:text="${chapterTitle}"></a> <span> > </span> <span
					th:text="${page.url}"></span>
			</div>
		</div>
		<!-- / BREADCRUMB -->
		<div class="row">
			<div class="lead">
				<div>
					<!-- NAV-TABS -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="#upload"
							aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
						<li role="presentation" class="active"><a href="#translate"
							aria-controls="translate" role="tab" data-toggle="tab">Translate</a></li>
						<li role="presentation"><a href="#annotate"
							aria-controls="annotate" role="tab" data-toggle="tab">Annotate</a></li>
						<li role="presentation"><a href="#search"
							aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
						<li role="presentation"><a href="#export"
							aria-controls="export" role="tab" data-toggle="tab">Export</a></li>
						<li role="presentation"><a href="#places"
							aria-controls="places" role="tab" data-toggle="tab">Places</a></li>
					</ul>
					<!-- / NAV-TABS -->
					<!-- TAB-PANES -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="upload">Upload
							some files...</div>
						<div role="tabpanel" class="tab-pane active" id="translate">
							<div th:replace="fragments/translation :: translation"></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="annotate">Annotation
							not implemented yet...</div>
						<div role="tabpanel" class="tab-pane" id="search">
							<div th:replace="fragments/search :: searchForm"></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="export">Export in
							what so ever ...
						</div>
						<div role="tabpanel" class="tab-pane" id="places" style="width:786px; height:480px; background-color:#AAAAAA; margin-left:0px; margin-right:0px">
							<!--  MAP GOES HERE -->
						</div>
						
						<!-- OSM -->
						<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
						<script>
							map = new OpenLayers.Map("places");
							map.addLayer(new OpenLayers.Layer.OSM());
							
							var lonLat = new OpenLayers.LonLat(9.0112351,46.6165803).transform(new OpenLayers.Projection('EPSG:4326'), new OpenLayers.Projection('EPSG:3857'));
							
							var mark = new OpenLayers.LonLat(8.4266177,47.2349836).transform(new OpenLayers.Projection('EPSG:4326'), new OpenLayers.Projection('EPSG:3857'));
							var markers = new OpenLayers.Layer.Markers("Markers");
							map.addLayer(markers);
							markers.addMarker(new OpenLayers.Marker(mark));
							
							var zoom = 8;
							map.setCenter(lonLat, zoom);
							
							<!-- http://nominatim.openstreetmap.org/search?q=paris&format=xml -->
						</script>
						<!-- /OSM -->
						
					</div>
				<!-- / TAB-PANES -->
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/page.js"></script>
	
</body>
</html>